<div class="container">
        @if (!isRegistering) {
        <div class="login-container">
            <h2>Přihlášení</h2>
            <form>
            <div>
                <label tuiLabel>
                    Email
                    <tui-textfield>
                        <input
                            placeholder="Zadejte svůj email"
                            tuiTextfield
                            type="text"
                            [(ngModel)]="email"
                            name="email"
                            required
                        />
                    </tui-textfield>
                </label>
            </div>
            <div>
                <label tuiLabel>
                Heslo
                <tui-textfield>
                    <input
                        placeholder="Zadejte své heslo"
                        tuiTextfield
                        type="password"
                        [(ngModel)]="password"
                        name="password"
                        required
                    />
                    <tui-icon tuiPassword />
                </tui-textfield>
                </label>
            </div>
            <button appearance="primary" tuiButton type="button" (click)="login()">Přihlásit</button>
            <p>{{ isRegistering ? 'Už máte účet? ' : "Nemáte účet? " }} <span class="p-text" (click)="changeForm()">{{ isRegistering ? 'Přihlásit se' : 'Registrovat se' }}</span></p>
        </form>
        </div>
        }
        @if (isRegistering) {
        <div class="register-container">
            <h2>Registrace</h2>
            <form>
            <div>
                <label tuiLabel>
                    Email
                    <tui-textfield>
                        <input
                            placeholder="Zadejte svůj email"
                            tuiTextfield
                            type="text"
                            [(ngModel)]="email"
                            name="email"
                            required
                        />
                    </tui-textfield>
                </label>
            </div>

            <div>
                <label tuiLabel>
                    Uživatelské jméno
                    <tui-textfield>
                        <input
                            placeholder="Zadejte své uživatelské jméno"
                            tuiTextfield
                            type="text"
                            [(ngModel)]="username"
                            name="username"
                            required
                        />
                    </tui-textfield>
                </label>
            </div>

            <div>
                <label tuiLabel>
                Heslo
                <tui-textfield>
                    <input
                        placeholder="Zadejte své heslo"
                        tuiTextfield
                        type="password"
                        [(ngModel)]="password"
                        name="password"
                        required
                    />
                    <tui-icon tuiPassword />
                </tui-textfield>
                </label>
            </div>
            
            <button appearance="primary" tuiButton type="button" (click)="register()">Registrovat</button>
            <p>{{ isRegistering ? 'Už máte účet? ' : "Nemáte účet? " }} <span class="p-text" (click)="changeForm()">{{ isRegistering ? 'Přihlásit se' : 'Registrovat se' }}</span></p>
        </form>
        </div>
        } 
</div>

