<div class="container">
        @if (!isRegistering) {
        <div class="login-container">
            <h2>Login</h2>
            <form>
            <div>
                <label tuiLabel>
                    Username
                    <tui-textfield>
                        <input
                            placeholder="Enter your username"
                            tuiTextfield
                            type="text"
                            [(ngModel)]="username"
                            name="username"
                            required
                        />
                    </tui-textfield>
                </label>
            </div>
            <div>
                <label tuiLabel>
                Password
                <tui-textfield>
                    <input
                        placeholder="Enter your password"
                        tuiTextfield
                        type="password"
                        [(ngModel)]="password"
                        name="password"
                        required
                    />
                    <tui-icon tuiPassword />
                </tui-textfield>
                </label>
            </div>
            <button appearance="primary" tuiButton type="button">Login</button>
            <p>{{ isRegistering ? 'Already have an account? ' : "Don't have an account? " }} <span class="p-text" (click)="changeForm()">{{ isRegistering ? 'Login' : 'Register' }}</span></p>
        </form>
        </div>
        }
        @if (isRegistering) {
        <div class="register-container">
            <h2>Register</h2>
            <form>
            <div>
                <label tuiLabel>
                    Email
                    <tui-textfield>
                        <input
                            placeholder="Enter your email"
                            tuiTextfield
                            type="email"
                            [(ngModel)]="email"
                            name="email"
                            required
                        />
                    </tui-textfield>
                </label>
            </div>

            <div>
                <label tuiLabel>
                    Username
                    <tui-textfield>
                        <input
                            placeholder="Enter your username"
                            tuiTextfield
                            type="text"
                            [(ngModel)]="username"
                            name="username"
                            required
                        />
                    </tui-textfield>
                </label>
            </div>

            <div>
                <label tuiLabel>
                Password
                <tui-textfield>
                    <input
                        placeholder="Enter your password"
                        tuiTextfield
                        type="password"
                        [(ngModel)]="password"
                        name="password"
                        required
                    />
                    <tui-icon tuiPassword />
                </tui-textfield>
                </label>
            </div>
            <button appearance="primary" tuiButton type="button">Register</button>
            <p>{{ isRegistering ? 'Already have an account? ' : "Don't have an account? " }} <span class="p-text" (click)="changeForm()">{{ isRegistering ? 'Login' : 'Register' }}</span></p>
        </form>
        </div>
        } 
</div>

