<tui-root>
    @if (isUserLoggedIn) {
        <nav class="navbar">
            <div class="logo">DOM<span class="strike">IXO</span></div>

            <div class="nav-items">
                <div class="nav-item" [class.active]="isActiveRoute('/dashboard')">
                    <a routerLink="/dashboard">🏠 Dashboard</a>
                </div>
                <div class="nav-item" [class.active]="isActiveRoute('/projects')">
                    <a routerLink="/projects">📁 My Projects</a>
                </div>
            </div>

            <div class="nav-profile">
                <div class="nav-item">
                    <a href="#">👤 Profile</a>
                </div>
                <div class="nav-item logout-btn" (click)="logout()">
                    🚪 Logout
                </div>
            </div>
        </nav>

        <div class="content">
            <router-outlet></router-outlet>
        </div>
        } @else {
        <div class="contentLoggedOut">
            <router-outlet></router-outlet>
        </div>
    }


    
</tui-root>